*/node_modules
node_modules
npm-debug.log
Dockerfile*
docker-compose*
nodemon*
.docker*
.editor*
.eslint*
.git*
*/.git
.nyc*
*/.vs
.vs
*/.vscode
.vscode
*.md
LICENSE
scripts
dist
test
logs/*.log
*/bin
bin
*/obj
obj
npm-shrinkwrap.json
